@import url("https://fonts.googleapis.com/css?family=Fira+Mono&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Mono", monospace, sans-serif;
    font-size: 25px;
}

body{
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-wrapper{
    height: 570px;
    width: 460px;
    background-color: white;
    text-align: center;
    padding: 35px;
    box-shadow: 3px 3px 15px 12px rgba(0, 0, 0, 0.123);
    border: none;
    border-radius: 20px;
}

.display input{
    background-color: white;
    text-align: right;
    width: 390px;
    height: 96px;
    margin-bottom:30px;
    border:none;
    border-radius: 25px;
    box-shadow: 3px 3px 8px 0.5px rgba(0, 0, 0, 0.287);
    font-size: 52px;

}

.all-buttons{
   margin-left:30px;
}
.row{
    display: flex;
}

.button{
    border: none;
    font-size: 30px;
    font-weight: bold;
    margin-right:29px;
    margin-bottom:25px;
    width: 68.5;
    height: 68.5;
    background-color:white;
    border-radius: 100%;
    outline: none;

    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.287),
        inset .5px .5px 4px rgba(0,0,0,0.3);
}



.button:hover{
    transition: .2s ease;
    cursor: hand;
}
.button:active{
    box-shadow: none;
    
   
}


.opr-btn, .eq-btn{
    color:tomato;
    font-weight: bolder;
    font-size: 36px;
}
    

.delete-button{
    margin-left: 200px;
    margin-top: 540px;
}